.nav {
  display: flex;
  justify-content:space-between;
}

.sub-nav {
  display: flex;
}

.sub-nav h3 {
  margin: 10px;
}

.content {
  margin-left: 10%;
}

body {
  background-color: #121212;
  margin: 10px;
  padding: 0;
  color: white;
  font-size: 14px;
}